// movienexus/components/_search-section.scss

#search-section {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-large;
  
    input {
      padding: $spacing-small;
      font-size: 1rem;
      border-radius: $border-radius-small;
      border: 1px solid $secondary-color;
      margin-right: $spacing-small;
      width: 300px;
    }
  
    button {
      padding: $spacing-small $spacing-medium;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: $border-radius-small;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }