// movienexus/abstracts/_variables.scss

// Border Radius
$border-radius: 8px; // Adjust this value as needed
$border-radius-small: 4px; // Optional for smaller border radius for images or buttons

// Colors
$primary-color: #000000; // Black for accents
$secondary-color: #1a1a1a; // Dark gray for text
$bg-color: #000000; // Black background for the body
$accent-color: #ffd700; // Yellow for hightlights
$text-color: #f5f5f5; // Main body text
$muted-text: #aaaaaa; // For less prominent text like dates or subtitles

// Spacing
$spacing-small: 8px; // Small spacing for margins and paddings
$spacing-medium: 16px; // Medium spacing for larger elements
$spacing-large: 32px; // Large spacing for sections and containers
$spacing-xlarge: 64px; // Extra large spacing for major sections
$spacing-xxlarge: 128px; // Extra extra large spacing for major sections

// Typography
$font-primary: 'poppins', sans-serif; // Primary font for headings and important text
$font-secondary: 'roboto', sans-serif; // Secondary font for body text