.bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: background 0.15s;
}

.bar--bg {
    background: var(--color-primary);
}

.bar__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar__logo {
    height: 100%;
}

.bar__nav-toggle {
    cursor: pointer;
}

.bar__nav-toggle > i {
    color: #000000;
    font-size: 2em;
}