.home-about-1 {
    background-color: $darkBrown2;
    align-items: center;
    justify-content: center;
    font-family: 'Avenir Roman,sans-serif';
    border-bottom: opacify($color: #c0810b, $amount: 0.3) solid 7px;
    padding: 0em;
    
    .container {
        margin: 0 auto;
        padding: 0em;

        .about-text1 {
            align-items: center;
            text-align: center;
            //padding: 2em;

        }
    }
}

// Media Quries
// 1rem | 16px
@media (min-width: 1em) {
    .home-about-1 {
        display: flex;
        flex-direction: column;
        height: 100vh;

        .container {

            .about-text1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .about-image1 {
                padding: 0;
            }
        }
    }
}

// 40rem | 640px & 60em | 900px
@media (min-width: 40em) and (max-width: 60em) {
    .home-about-1 {
        min-height: 80vh;
        
        .container {

            .about-text1 {

                h2 {
                    font-size: 2rem;
                }
            }

            .about-image1 {
                padding: 2em;
            }
        }
    }
}

// 60rem | 900px
@media (min-width: 60em) {

    .home-about-1 {
        min-height: 60vh;
      
        .container {
            display: flex;
            flex-direction: row;

            .about-text1 {
                text-align: left;

                h1 {
                    font-size: 3em;
                }
            }

            .about-image1 {
                max-width: 60%;
                padding: 3em;
            }
        }
    }
}