.home-about-2 {
    background-color: $black;
    font-family: 'Avenir Roman,sans-serif';
    border-bottom: opacify($color: #c0810b, $amount: 0.3) solid 7px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;



        .about-text-2 {
            width: 50%;
            text-align: center;
        }
    
        .about-image-2 {
            width: 50%;
            text-align: center;
        }
    
}

// Media Queries
// 
@media (max-width: 25em) {
    .home-about-2 {
        display: flex;
        flex-direction: column;
    }
}