.home-hero {
    background-image: url(../../images/film4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    resize: both;
    font-family: 'Avenir Roman,sans-serif';
    border-bottom: opacify($color: $gold, $amount: 0.3) solid 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Media Queries
// 1rem | 16px
@media (min-width: 1em) {
    .home-hero {
        min-height: 50vh;

        h1 {
            font-size: 1.5em;
        }

        p {
            padding-top: .5em;
            font-size: 1.5em;
        }
    }
}

// 40rem | 640px
@media (min-width: 50em) {
    .home-hero {
        min-height: 60vh;

        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 2.5em;
        }
    }
}

// 60rem | 960px
@media (min-width: 60em) {

    .home-hero {
        min-height: 70vh;

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 2em;
        }
    }
}