.home-about-1 {
    background-color: $darkBrown2;
    font-family: 'PT Serif', serif;
    border-bottom: opacify($color: #c0810b, $amount: 0.3) solid 7px;

    .about-text-1 {
        width: 50%;
        padding: 1em;
        text-align: center;
    }

    img {
        width: 50%;
        padding: 1em;
    }
}

/*
// Media Queries
@media (min-width: 1em) and (max-width: 49.99em) { // 700px
    .home-about-1 {
        flex-direction: column;

        .about-text-1 {
            width: 100%;
            font-size: 1.5em;
        }

        .about-image-1 {
            width: 100%;
        }
    }
}

@media (min-width: 50em) and (max-width: 119.99em) { // 800px
    .home-about-1 {
        flex-direction: row;

        .about-text-1 {
            width: 50%;
            font-size: 2em;
        }

        .about-image-1 {
            width: 50%;
        }
    }
}

@media (min-width: 120em) { // 1392px
    .home-about-1 {
        flex-direction: row;

        .about-text-1 {
            width: 50%;
            font-size: 2.5em;
        }

        .about-image-1 {
            width: 50%;
        }
    }
}
*/


