// About Section

// Section 3 (Start)
#section3 {
	padding: 30px;
	min-height: 400px;
	background-size: 100%;
	color: #000;
	background: transparent;
	border-bottom: #b7b7b7 3px solid;
}

#section3 .container h1 {
	margin-top: 40px;
	font-size: 35px;
	font-weight: bold;
	font-family: 'Neucha', sans-serif;
	line-height: 80px;
	text-align: left;
	margin-bottom: 20px;
}

#section3 .container h3 {
	text-align: left;
	font-size: 25px;
	font-style: bold;
	margin-bottom: 20px;
}

#section3 .container p {
	font-size: 23px;
	text-align: left;
}
// Section 3 (End)

// About Me Flexbox (Start)
.about-section1 {
	width: 100%;
	padding: 15px;
	padding-bottom: 40px;
	margin-top:20px;
	margin-bottom: 20px;
	display: flex;
	box-sizing: border-box;
	background: transparent;
	flex-direction: row;
	border-bottom: #b7b7b7 3px solid;
}

.about-section1 img {
	max-height: 100%;
	max-width: 100%;
	border-radius: 5px;
}

.about-container1 {
	flex: 1;
	background: #66a7d5;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin: 3px;
	border-radius: 10px;
}

.about-container2 {
	flex: 1;
	background: #e29470;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin: 3px;
	border-radius: 10px;
}

.about-container3 {
	flex: 1;
	background: #679895;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin: 3px;	
	border-radius: 10px;
}
// About Me Flexbox (End)

// Section 4 Flexbox (Start)
#section4 {
	min-height: 450px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-bottom: 30px;
	background-size: 100%;
	text-align: left;
	color: #000;
	background: transparent;
}

#section4 .container p {
	font-size: 20px;
	text-align: center;
}

#section4 .container1 {
	flex: 1;
	padding: 10px;
	text-align: left;
	font-size: 23px;	
	border-radius: 10px;
	margin-bottom: 20px;
	color: #000;
	background: #DEDEDE;
}

#section4 .container1 h2 {
	font-size: 25px;
}

#section4 .container2 {
	flex: 1;
	padding: 10px;
	text-align: left;
	font-size: 23px;	
	border-radius: 10px;
	margin-bottom: 20px;
	color: #000;
	background: #DEDEDE;
}

#section4 .container2 h2 {
	font-size: 25px;
}

#section4 .container3 {
	flex: 1;
	padding: 10px;
	text-align: left;
	font-size: 23px;	
	border-radius: 10px;
	margin-bottom: 20px;
	color: #000;
	background: #DEDEDE;
}

#section4 .container3 h2 {
	font-size: 25px;
}

#section4 .container4 {
	flex: 1;
	padding: 10px;
	text-align: left;
	font-size: 23px;	
	border-radius: 10px;
	margin-bottom: 20px;
	color: #000;
	background: #DEDEDE;
}

#section4 .container4 h2 {
	font-size: 25px;
}
// Section 4 Flexbox (End)