@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li, 
   #newsletter h1,
   #newsletter form, 
   #boxes .box,
   article#main-column,
   aside#sidebar{
      float: none;
      text-align: center;
      width: 100%;
    }
  
    header{
    padding-bottom: 20px;
    }
  
    #showcase h1{
      margin-top: 40px;
      font-size: 150%;
    }
  
    #newsletter button, .quote button{
      display: block;
      width: 100%;
    }
  
    #newsletter form input[type="email"], .quoten input, .quote textarea{
      width: 100%;
      margin-bottom: 5px;
      display: flex;
    }

    #newsletter .container {
      display: flex;
    }

#boxes .container {
  display: flex;
}
  }