#showcase {
  min-height: 400px;
  background:url("../../images/pexels-negative-space-48606.jpg") no-repeat 0 -400px; //	Photo by Negative Space from Pexels
  text-align:center;
  color: white;
}
  
  #showcase h1{
    margin-top: 100px;
    font-size: 45px;
    margin-bottom: 25px;
  }
  
  #showcase p{
    font-size: 25px;
    margin-bottom: 100px;
  }