// About Sidebar1
aside#sidebar1 {
    width: 100%;
    margin-top: 225px;
    text-align: center;
  }
  
  aside#sidebar1 .quote input,aside#sidebar1 .quote textarea{
    width: 95%;
    padding: 2px;
  }

  #sidebar.dark1 {
    padding-bottom: 20px;
  }

  // Services Sidebar 2
  aside#sidebar2 {
    width: 100%;
    margin-top: 3px;
  }
  
  aside#sidebar2 .quote input,aside#sidebar2 .quote textarea{
    width: 95%;
    padding: 2px;
  }

  #sidebar.dark2 {
    padding-bottom: 20px;
  }