// Global Styles
* {
    box-sizing: border-box;
    color: #f9f9f9;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    min-height: 100vh;
}

.container {
    max-width: 100%;
    min-height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: ease-in-out 250ms;
}